.jumbotron.jumbotron-fluid.py-4{
  height:110px;
}

.top-link{
  float:left;
  margin-left:16px;
  color:black;
  font-size:50px;
}

a.top-link:link {
  text-decoration: none;
}

a.top-link:hover {
  color: black;
}
